
.main-page {
    padding: 20px;
  }
  
  .developer-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .subheading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .project-tile {
    margin: 20px 0;
  }