/* .project-tile {
  max-width: 345px;
  margin: 20px;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.12), 0 7px 10px -5px rgba(0,0,0,0.15);
}

.project-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project-info {
  text-align: center;
  color: #757575;
}

.project-link {
  text-decoration: none;
  color: #3f51b5;
}

.project-link:hover {
  color: #1a237e;
}

.CardContent {
  padding: 15px;
}

.Button {
  margin: 10px;
  border-radius: 50px;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  color: white;
} */
